<!doctype html>
<html lang="en" ng-app="explorerApp">
<head>
    <meta charset="utf-8">
    <title>Thread Explorer</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/app.css">
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/lodash.js"></script>
    <script src="js/explorer/controllers.js"></script>
    <script src="js/explorer/app.js"></script>
</head>
<body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default" ng-controller="NavigationCtrl">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/">Thread Explorer</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ng-class="{ active: isCurrentPath('/keys') }"><a href="#/keys">Keys</a></li>
              <li ng-class="{ active: isCurrentPath('/transactions') }"><a href="#/transactions">Transactions</a></li>
              <li><a href="#/">Blocks</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <div ng-view></div>

    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
