<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-cell col-sm-6">

<form action="#" ng-controller="NewTransactionFormCtrl" ng-submit="submitForm()">

    <h3>Input</h3>

    <p><label>UTXO Transaction UID</label></br>
    <input type="text" ng-model="transaction.input.transactionUid"></p>

    <p><label>UTXO Output Index</label></br>
    <input type="text" ng-model="transaction.input.outputIndex"></p>

    <p><label>Unlocking Script (hex)</label></br>
    <input type="text" ng-model="transaction.input.script"></p>

    <br>

    <h3>Output</h3>

    <p><label>Output Asset Type</label></br>
    <input type="text" ng-model="transaction.output.assetType"></p>

    <p><label>Output Value</label></br>
    <input type="text" ng-model="transaction.output.value"></p>

    <p><label>Output Asset</label></br>
    <input type="text" ng-model="transaction.output.asset"></p>

    <p><label>Encumbering Script (hex)</label></br>
    <input type="text" ng-model="transaction.output.script"></p>

    <br>
    <input type="submit" style="float:left;margin-right:20px">

    <div class="error" ng-if="error.length" style="color:red;padding-top:2px">Submission usuccessful: &lt;{{error}}&gt;</div>

    <!-- <pre>{{ transaction }}</pre> -->
</form>

    </div>
    <div class="col-sm-3"></div>
</div>

